<div style="width: 100%;{% if block.settings.background %} background: url({% path block.settings.background, 'small' %});{% endif %}">
    <h1>{{ block.settings.title }}</h1>
    <p>{{ block.settings.text }}</p>
</div>
